body {
  font-family: Arial, sans-serif;
  background-color: #c885ad;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #cf4555;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.site-header .header-logo {
  width: 50px;
  height: 50px;
  background-image: url("Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-register {
  background-color: #970d3d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn-register:hover {
  background-color: #a81a53;
}
.btn-register:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.intro-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.intro-section .intro-text {
  flex: 1;
  font-size: 25px;
}
.intro-section .intro-text .btn-register {
  margin-top: 20px;
}
.intro-section .intro-image {
  flex: 1;
  text-align: center;
}
.intro-section .intro-image img {
  max-width: 100%;
  height: auto;
}

.features-section {
  padding: 20px;
  overflow: hidden;
  display: table;
  text-align: center;
}
.features-section h2 {
  margin: 20px 0;
  font-size: 28px;
}
.features-section .feature-item {
  float: left;
  width: calc(33.33% - 20px);
  background-color: #078973;
  color: white;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}
.features-section .button-container {
  margin-top: 20px;
}
.features-section .button-container .btn-register {
  margin: 0 auto;
}

.steps-section {
  padding: 20px;
  text-align: center;
}
.steps-section h2 {
  margin: 20px 0;
  font-size: 28px;
}
.steps-section .step-item {
  float: left;
  width: calc(33.33% - 20px);
  background-color: #7e95ce;
  color: white;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}
.steps-section .button-container {
  margin-top: 20px;
}
.steps-section .button-container .btn-register {
  margin: 0 auto;
}

.clear-float {
  clear: both;
}

.footer-content {
  background-color: #e96070;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.footer-content .logo-footer {
  width: 200px;
  height: 200px;
  background-image: url("Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
}
.footer-content .contact-table {
  margin: 0 auto;
  border-collapse: collapse;
}
.footer-content .contact-table td {
  padding: 15px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.footer-content .contact-table td:hover {
  background-color: #647295;
}

@media (max-width: 1024px) {
  .intro-section {
    flex-direction: column;
    padding: 10px;
  }
  .intro-section .intro-text {
    font-size: 20px;
  }
  .intro-section .intro-image {
    margin-bottom: -20px;
  }
  .feature-item,
  .step-item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    align-items: center;
  }
  .intro-section .intro-text,
  .intro-section .intro-image {
    margin-bottom: 20px;
    width: 100%;
  }
  .feature-item,
  .step-item {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 480px) {
  .btn-register {
    padding: 8px 15px;
  }
  .features-section h2,
  .steps-section h2 {
    font-size: 24px;
  }
  .site-footer {
    flex-direction: column;
    align-items: center;
  }
  .logo-footer {
    font-size: 30px;
    margin-left: 0;
  }
  .contact-table td {
    padding: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */