body {
    font-family: Arial, sans-serif;
    background-color: #0a0f1f;
    color: #f0f0f0;
    margin: 0;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1e1e2d;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
    right: 0;
}


.logo-container {
    flex: 1;
}


.image {
    width: 50px;
    height: 50px;
    background-image: url("Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.search-buy {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 2;
    justify-content: flex-end;
}


.search-bar {
    padding: 5px;
    width: 100%;
    background-color: #03264b;
    border: none;
    outline: none;
    color: #f0f0f0;
    padding-left: 20px;
    border-radius: 10px;
}

.search-bar:hover{
    background-color: #053466;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


.cart {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.cart:hover {
    background-color: #0056b3;
    transition: background-color 0.5s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar {
    width: 200px;
    height: 100%;
    vertical-align: top;
    border-right: 1px solid #ccc;
    text-decoration: none;
}

.sidebar li {
    margin-bottom: 15px; 
}

.sidebar a {
    text-decoration: none;
    color: #f0f0f0;
}

.sidebar a:hover{
    color: #c0b8b8;
    transition: background-color 0.5s ease;
}

.content {
    padding: 20px;
}


.grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
}


.grid-item {
    flex: 1 1 200px; 
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}


.imag {
    width: 100%; 
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item {
    font-weight: bold;
}

.price {
    color: gray;
}

.buy-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.buy-button:hover {
    background-color: #0056b3;
    transition: background-color 0.5s ease;
}



/* Для екранів менше ніж 1024px */
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }

    .search-buy {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Для екранів менше ніж 768px */
@media (max-width: 768px) {
    .grid {
        justify-content: center;
    }

    .grid-item {
        flex: 1 1 100%; 
    }
}

/* Для екранів менше ніж 480px */
@media (max-width: 560px) {
    .header {
        flex-direction: column;
        padding: 10px 15px;
        align-items: stretch; 
    }

    .logo-container {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .search-buy {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .search-bar {
        width: 100%;
        padding: 8px;
        font-size: 14px;
    }

    .cart {
        width: 100%;
        padding: 8px;
        font-size: 14px;
    }
}